---
import Subtitle from "./shared/Subtitle.astro";
---

<section id="aboutMe">
  <div class="flex flex-col justify-center h-[90%] p-4">
    <header>
      <Subtitle left>About me</Subtitle>
    </header>
    <p class="reveal">
      Hello, My name is Swastik Bhandarkar. Keeping ECE beside,
      I love to code and always keep learning it.
      
    </p>
    <p class="reveal">
      As i am in 1st year, started learning languages such as C,C++.
      Currently, I'm learning frontend technologies like astro,
      html, css.
    </p>
    <p class="reveal">
      In my free time I like listening to music, reading books, playing cricket and chess or watching
      movies from favorite directors.
      I also love Photography and Videography and like to editing my work.
    </p>
  </div>
</section>
