<section>
  <div class="text-[var(--default-font-color)] p-4 font-lato">
    <div class="reveal active">
      <h1
        class="presentation-title text-4xl text-[var(--default-secundary-font-color)] my-3 mx-0"
      >
        Hi, I am <br class="br-show" />Swastik Bhandarkar, <br />
        
      </h1>
    </div>
    <div class="reveal active">
      <h2 class="presentation-main-skill text-3xl my-3 mx-0">
        Welcome to my personal portfolio!!
      </h2>
    </div>
    <div class="reveal active">
      <p class="presentation-description my-3 mx-0">
        Hello there! My name is Swastik Bhandarkar, and I'm a student of Electronics and Communication Engineering at St. Joseph Engineering College in Vamanjoor.                            
        As an aspiring engineer and innovator, I'm constantly seeking out new challenges and opportunities to grow my skills and knowledge.
        Through this portfolio website, I hope to share my journey with you and highlight some of the exciting projects and experiences I've had along the way.
      </p>
    </div>
  </div>
</section>
